/* @import url(http://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo); */

.mainTable {
  display:none;
  width: 96%; 
  margin-left: 2%; 
  margin-right: 2%;
  text-align: center;
}

.fastTable {
  width: 96%; 
  margin-left: 2%; 
  margin-right: 2%;
  text-align: center;
  display: none;
}

.customAmiiboTable {
  display:block;
  width: 96%; 
  margin-left: 2%; 
  margin-right: 2%;
  text-align: center;
}

.directionBar {
  background-color: #0e0e0b;
  width: 100%; 
}

th {
  width: 9.6% !important;
  font-size: 1.00em;
  font-family: "Coda", sans-serif;
  height: 1.95em;
  color: #fff;
  background-color: #0e0e0b;
}

th:hover {
  background-color: #565643;
}

.inputTextNumber {
  width: 90%;
}

td {
  height: 3.00em;
  font-size: 0.90em;
  font-family: "Coda", sans-serif;
  border-bottom: 1px solid #ddd;
  font-size: 1.0em;
}

.amiiboImg {
  display: block;
  width: 100%;
  height: auto;
}

.loadingSpinner {
  display: block;
  margin:auto;
}

#progress {
  display: block;
  margin: auto;
  width: 75%;
  background-color:#ddd;
  text-align: center;
}

#bar {
  width: 0%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}