/* @import url(http://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo); */

.headerDiv {
  display:inline
}

.amiiboDexLogo {
  display: block;
  width: 30%;
  height: auto;
  margin-left: 1.5%;
  margin-top: 1.5%;
}
